.closeBtnWrap {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  top: 10px;
  right: 22px;    
  z-index: 1000;
  background-color: rgba(31, 31, 31, 0.733);
  &:hover{
    background-color: rgba(56, 56, 56, 0.808);
  }
  .closeButton {
    fill: rgb(255, 255, 255);
  }
} 
#left {
  left: 22px
}
