.gradient {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(74deg, rgba(246, 246, 246, 0.03) 0%, rgba(246, 246, 246, 0.03) 4%, rgba(152, 152, 152, 0.03) 4%, rgba(152, 152, 152, 0.03) 32%, rgba(123, 123, 123, 0.03) 32%, rgba(123, 123, 123, 0.03) 41%, rgba(189, 189, 189, 0.03) 41%, rgba(189, 189, 189, 0.03) 45%, rgba(151, 151, 151, 0.03) 45%, rgba(151, 151, 151, 0.03) 47%, rgba(61, 61, 61, 0.03) 47%, rgba(61, 61, 61, 0.03) 77%, rgba(34, 34, 34, 0.03) 77%, rgba(34, 34, 34, 0.03) 100%), linear-gradient(117deg, rgba(222, 222, 222, 0.03) 0%, rgba(222, 222, 222, 0.03) 7%, rgba(67, 67, 67, 0.03) 7%, rgba(67, 67, 67, 0.03) 18%, rgba(61, 61, 61, 0.03) 18%, rgba(61, 61, 61, 0.03) 26%, rgba(32, 32, 32, 0.03) 26%, rgba(32, 32, 32, 0.03) 52%, rgba(119, 119, 119, 0.03) 52%, rgba(119, 119, 119, 0.03) 60%, rgba(252, 252, 252, 0.03) 60%, rgba(252, 252, 252, 0.03) 68%, rgba(9, 9, 9, 0.03) 68%, rgba(9, 9, 9, 0.03) 100%), linear-gradient(313deg, rgba(193, 193, 193, 0.03) 0%, rgba(193, 193, 193, 0.03) 12%, rgba(184, 184, 184, 0.03) 12%, rgba(184, 184, 184, 0.03) 24%, rgba(194, 194, 194, 0.03) 24%, rgba(194, 194, 194, 0.03) 43%, rgba(128, 128, 128, 0.03) 43%, rgba(128, 128, 128, 0.03) 54%, rgba(87, 87, 87, 0.03) 54%, rgba(87, 87, 87, 0.03) 71%, rgba(169, 169, 169, 0.03) 71%, rgba(169, 169, 169, 0.03) 93%, rgba(83, 83, 83, 0.03) 93%, rgba(83, 83, 83, 0.03) 100%), linear-gradient(19deg, rgba(186, 186, 186, 0.03) 0%, rgba(186, 186, 186, 0.03) 9%, rgba(77, 77, 77, 0.03) 9%, rgba(77, 77, 77, 0.03) 19%, rgba(38, 38, 38, 0.03) 19%, rgba(38, 38, 38, 0.03) 27%, rgba(203, 203, 203, 0.03) 27%, rgba(203, 203, 203, 0.03) 39%, rgba(130, 130, 130, 0.03) 39%, rgba(130, 130, 130, 0.03) 43%, rgba(184, 184, 184, 0.03) 43%, rgba(184, 184, 184, 0.03) 81%, rgba(108, 108, 108, 0.03) 81%, rgba(108, 108, 108, 0.03) 100%), linear-gradient(90deg, #381d99, rgba(1, 57, 109, 0.281));
}

.gradient .hi {
  position: relative;
  top: 20px;
  left: 40px;
  font-size: 140px;
  width: 800px;
  line-height: 130px;
  letter-spacing: 0px;
  color: white;
}

.gradient h3 {
  position: absolute;
  top: 534px;
  left: 48px;
  font-size: 48px;
  width: 800px;
  letter-spacing: 1px;
  color: white;
}

.gradient .sub {
  top: 290px;
  left: 48px;
  font-size: 56px;
  color: #8b8b8b;
}

.gradient .technologies {
  position: absolute;
  top: 610px;
  left: 48px;
  font-size: 30px;
  width: 600px;
  letter-spacing: 1px;
  color: white;
}

.gradient #btn {
  position: absolute;
  top: 100%;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  width: 240px;
  text-align: center;
  line-height: 74px;
  font-size: 34px;
  letter-spacing: 1px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  border: solid 2px white;
  border-bottom: none;
}

.gradient #btn.prjects {
  left: 48px;
}

.gradient #btn.contact {
  left: 490px;
  width: 280px;
  padding-left: 0;
  padding-right: 30px;
}

.gradient svg {
  position: relative;
  left: 10px;
  margin-right: 10px;
  fill: white;
}

.gradient .top {
  position: absolute;
  top: 28px;
  left: 220px;
}

.gradient .bot {
  position: absolute;
  top: 42px;
  left: 220px;
}
/*# sourceMappingURL=Banner.css.map */