.contact-gradient {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(225deg, rgba(53, 53, 53, 0.04) 0%, rgba(53, 53, 53, 0.04) 25%, rgba(189, 189, 189, 0.04) 25%, rgba(189, 189, 189, 0.04) 50%, rgba(106, 106, 106, 0.04) 50%, rgba(106, 106, 106, 0.04) 75%, rgba(11, 11, 11, 0.04) 75%, rgba(11, 11, 11, 0.04) 100%), linear-gradient(250deg, rgba(77, 77, 77, 0.04) 0%, rgba(77, 77, 77, 0.04) 25%, rgba(113, 113, 113, 0.04) 25%, rgba(113, 113, 113, 0.04) 50%, rgba(23, 23, 23, 0.04) 50%, rgba(23, 23, 23, 0.04) 75%, rgba(182, 182, 182, 0.04) 75%, rgba(182, 182, 182, 0.04) 100%), linear-gradient(209deg, rgba(169, 169, 169, 0.04) 0%, rgba(169, 169, 169, 0.04) 25%, rgba(164, 164, 164, 0.04) 25%, rgba(164, 164, 164, 0.04) 50%, rgba(32, 32, 32, 0.04) 50%, rgba(32, 32, 32, 0.04) 75%, rgba(34, 34, 34, 0.04) 75%, rgba(34, 34, 34, 0.04) 100%), linear-gradient(233deg, rgba(113, 113, 113, 0.04) 0%, rgba(113, 113, 113, 0.04) 25%, rgba(177, 177, 177, 0.04) 25%, rgba(177, 177, 177, 0.04) 50%, rgba(188, 188, 188, 0.04) 50%, rgba(188, 188, 188, 0.04) 75%, rgba(84, 84, 84, 0.04) 75%, rgba(84, 84, 84, 0.04) 100%), linear-gradient(210deg, rgba(57, 57, 57, 0.04) 0%, rgba(57, 57, 57, 0.04) 25%, rgba(227, 227, 227, 0.04) 25%, rgba(227, 227, 227, 0.04) 50%, rgba(14, 14, 14, 0.04) 50%, rgba(14, 14, 14, 0.04) 75%, rgba(26, 26, 26, 0.04) 75%, rgba(26, 26, 26, 0.04) 100%), linear-gradient(90deg, #134e0b, rgba(8, 231, 138, 0.24));
}

.contact-gradient .wrap-contact-text {
  position: absolute;
  top: 44%;
  left: 44px;
  height: 200px;
  width: 744px;
}

.contact-gradient .wrap-contact-text .text-contact {
  font-size: 40px;
  letter-spacing: 1px;
  color: white;
}

.contact-gradient .wrap-contact-text .link-contact {
  color: #c73762;
  text-decoration: none;
  font-size: 40px;
}

.contact-gradient .wrap-contact-text .link-contact:hover {
  text-decoration: underline;
}

.contact-gradient .wrap-contact-text .socials {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact-gradient .form-wrap {
  position: absolute;
  right: 0;
  width: calc(100vw - 784px);
  height: 100%;
}

.contact-gradient .form-wrap form {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 340px;
  width: 400px;
}

.contact-gradient .form-wrap form #mail {
  position: relative;
  font-family: "Barlow-r";
  font-size: 20px;
  height: 38px;
  width: 100%;
  padding: 18px;
  border: 0;
  border-radius: 18px;
  -webkit-box-shadow: 0 0 10px 2px rgba(48, 48, 48, 0.404);
          box-shadow: 0 0 10px 2px rgba(48, 48, 48, 0.404);
}

.contact-gradient .form-wrap form #mail:focus {
  outline: none;
  -webkit-box-shadow: 0 0 10px 5px rgba(191, 206, 214, 0.658);
          box-shadow: 0 0 10px 5px rgba(191, 206, 214, 0.658);
}

.contact-gradient .form-wrap form #thx {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 86px;
  z-index: 1;
  width: 100%;
  height: 160px;
  padding: 0 46px;
  padding-bottom: 8px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  background-color: rgba(255, 0, 76, 0.493);
  color: white;
  border-radius: 18px;
  opacity: 0;
}

.contact-gradient .form-wrap form .transition-thx {
  opacity: 1 !important;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}

.contact-gradient .form-wrap form #message {
  opacity: 1;
  width: 100%;
  height: 160px;
  padding: 12px 16px;
  resize: none;
  font-family: "Barlow-r";
  font-size: 20px;
  border: 0;
  border-radius: 18px;
  -webkit-box-shadow: 0 0 10px 2px rgba(48, 48, 48, 0.404);
          box-shadow: 0 0 10px 2px rgba(48, 48, 48, 0.404);
  z-index: 2;
}

.contact-gradient .form-wrap form #message:focus {
  outline: none;
  -webkit-box-shadow: 0 0 10px 5px rgba(191, 206, 214, 0.658);
          box-shadow: 0 0 10px 5px rgba(191, 206, 214, 0.658);
}

.contact-gradient .form-wrap form .transition-message {
  opacity: 0 !important;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}

.contact-gradient .form-wrap form #mail.error-input {
  -webkit-box-shadow: 0 0 10px 5px rgba(218, 45, 45, 0.616);
          box-shadow: 0 0 10px 5px rgba(218, 45, 45, 0.616);
}

.contact-gradient .form-wrap form #message.error-input {
  -webkit-box-shadow: 0 0 10px 5px rgba(218, 45, 45, 0.616);
          box-shadow: 0 0 10px 5px rgba(218, 45, 45, 0.616);
}

.contact-gradient .form-wrap form .error-text {
  position: relative;
  top: -8px;
  padding-left: 20px;
  color: #c70e0e;
  font-family: "Barlow-r";
}

.contact-gradient .form-wrap form #submit {
  position: relative;
  bottom: 0;
  margin: 0 auto;
  font-size: 20px;
  border: 0;
  height: 46px;
  width: 160px;
  background-color: #c73762;
  -webkit-box-shadow: 0 0 10px 2px rgba(48, 48, 48, 0.404);
          box-shadow: 0 0 10px 2px rgba(48, 48, 48, 0.404);
  color: white;
  border-radius: 40px;
  cursor: pointer;
}

.contact-gradient .form-wrap form #submit:hover {
  background-color: #d8255b;
}

.contact-gradient .form-wrap form #submit:focus {
  outline: none;
  background-color: #d8255b;
}

.contact-gradient .form-wrap form .transition-mail {
  -webkit-transform: translate(0, 300%);
          transform: translate(0, 300%);
  -webkit-transition: opacity 200ms, -webkit-transform ease-out 400ms;
  transition: opacity 200ms, -webkit-transform ease-out 400ms;
  transition: transform ease-out 400ms, opacity 200ms;
  transition: transform ease-out 400ms, opacity 200ms, -webkit-transform ease-out 400ms;
  z-index: 0;
  opacity: 0;
}

.contact-gradient .form-wrap form .transition-sendButton {
  -webkit-transform: translate(0, -300%);
          transform: translate(0, -300%);
  -webkit-transition: opacity 200ms, -webkit-transform ease-out 400ms;
  transition: opacity 200ms, -webkit-transform ease-out 400ms;
  transition: transform ease-out 400ms, opacity 200ms;
  transition: transform ease-out 400ms, opacity 200ms, -webkit-transform ease-out 400ms;
  z-index: 0;
  opacity: 0;
}
/*# sourceMappingURL=Contact.css.map */