@import "./CloseButton/CloseButton.scss";
@import "./Projects/Projects.scss";
@import "./Projects/LabelCreator/LabelCreator.scss";
@import "./Banner/Banner.scss";
@import "./Contact/Contact.scss";

@font-face {
  font-family: "Barlow-l";
  src: local("Barlow-ExtraLight"),
    url(./fonts/Barlow-ExtraLight.ttf) format("truetype");
}
@font-face {
  font-family: "Barlow-r";
  src: local("Barlow-Regular"),
    url(./fonts/Barlow-Regular.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

.background { 
  position: absolute;
  background-image: url("./images/BlackHero.jpg");
  overflow: hidden;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Barlow-l";
  width: 100%;
}

.headline {
  position: absolute;
  top: 20px;
  left: 30px;
  font-size: 140px;
  width: 800px;
  line-height: 130px;
  color: rgb(255, 255, 255);
}

#slide-three {
  height: 100vh;
  overflow-y: auto;
} 
