.closeBtnWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  top: 10px;
  right: 22px;
  z-index: 1000;
  background-color: rgba(31, 31, 31, 0.733);
}

.closeBtnWrap:hover {
  background-color: rgba(56, 56, 56, 0.808);
}

.closeBtnWrap .closeButton {
  fill: white;
}

.prjgradient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: linear-gradient(131deg, rgba(186, 186, 186, 0.01) 0%, rgba(186, 186, 186, 0.01) 16.667%, rgba(192, 192, 192, 0.01) 16.667%, rgba(192, 192, 192, 0.01) 33.334%, rgba(48, 48, 48, 0.01) 33.334%, rgba(48, 48, 48, 0.01) 50.001%, rgba(33, 33, 33, 0.01) 50.001%, rgba(33, 33, 33, 0.01) 66.668%, rgba(182, 182, 182, 0.01) 66.668%, rgba(182, 182, 182, 0.01) 83.335%, rgba(211, 211, 211, 0.01) 83.335%, rgba(211, 211, 211, 0.01) 100.002%), linear-gradient(148deg, rgba(48, 48, 48, 0.01) 0%, rgba(48, 48, 48, 0.01) 16.667%, rgba(178, 178, 178, 0.01) 16.667%, rgba(178, 178, 178, 0.01) 33.334%, rgba(192, 192, 192, 0.01) 33.334%, rgba(192, 192, 192, 0.01) 50.001%, rgba(237, 237, 237, 0.01) 50.001%, rgba(237, 237, 237, 0.01) 66.668%, rgba(194, 194, 194, 0.01) 66.668%, rgba(194, 194, 194, 0.01) 83.335%, rgba(227, 227, 227, 0.01) 83.335%, rgba(227, 227, 227, 0.01) 100.002%), linear-gradient(138deg, rgba(146, 146, 146, 0.03) 0%, rgba(146, 146, 146, 0.03) 25%, rgba(33, 33, 33, 0.03) 25%, rgba(33, 33, 33, 0.03) 50%, rgba(46, 46, 46, 0.03) 50%, rgba(46, 46, 46, 0.03) 75%, rgba(172, 172, 172, 0.03) 75%, rgba(172, 172, 172, 0.03) 100%), linear-gradient(38deg, rgba(3, 3, 3, 0.03) 0%, rgba(3, 3, 3, 0.03) 16.667%, rgba(28, 28, 28, 0.03) 16.667%, rgba(28, 28, 28, 0.03) 33.334%, rgba(236, 236, 236, 0.03) 33.334%, rgba(236, 236, 236, 0.03) 50.001%, rgba(3, 3, 3, 0.03) 50.001%, rgba(3, 3, 3, 0.03) 66.668%, rgba(207, 207, 207, 0.03) 66.668%, rgba(207, 207, 207, 0.03) 83.335%, rgba(183, 183, 183, 0.03) 83.335%, rgba(183, 183, 183, 0.03) 100.002%), linear-gradient(145deg, rgba(20, 20, 20, 0.02) 0%, rgba(20, 20, 20, 0.02) 20%, rgba(4, 4, 4, 0.02) 20%, rgba(4, 4, 4, 0.02) 40%, rgba(194, 194, 194, 0.02) 40%, rgba(194, 194, 194, 0.02) 60%, rgba(34, 34, 34, 0.02) 60%, rgba(34, 34, 34, 0.02) 80%, rgba(71, 71, 71, 0.02) 80%, rgba(71, 71, 71, 0.02) 100%), linear-gradient(78deg, rgba(190, 190, 190, 0.02) 0%, rgba(190, 190, 190, 0.02) 20%, rgba(95, 95, 95, 0.02) 20%, rgba(95, 95, 95, 0.02) 40%, rgba(71, 71, 71, 0.02) 40%, rgba(71, 71, 71, 0.02) 60%, rgba(7, 7, 7, 0.02) 60%, rgba(7, 7, 7, 0.02) 80%, rgba(130, 130, 130, 0.02) 80%, rgba(130, 130, 130, 0.02) 100%), linear-gradient(293deg, rgba(213, 213, 213, 0.03) 0%, rgba(213, 213, 213, 0.03) 20%, rgba(220, 220, 220, 0.03) 20%, rgba(220, 220, 220, 0.03) 40%, rgba(146, 146, 146, 0.03) 40%, rgba(146, 146, 146, 0.03) 60%, rgba(57, 57, 57, 0.03) 60%, rgba(57, 57, 57, 0.03) 80%, rgba(120, 120, 120, 0.03) 80%, rgba(120, 120, 120, 0.03) 100%), linear-gradient(90deg, #530000, rgba(255, 0, 0, 0.322));
}

.prjgradient h1 {
  position: absolute;
  top: 30px;
  left: 40px;
  font-size: 140px;
  width: 800px;
  line-height: 130px;
  color: white;
}

.prjgradient .projects {
  font-family: "Barlow-r";
  display: -ms-grid;
  display: grid;
  position: absolute;
  margin: auto;
  width: 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 22px;
  padding-top: 90px;
  font-size: 22px;
}

.prjgradient .projects .projectCard {
  position: relative;
  display: block;
  height: 0;
  padding-top: 56.25%;
  overflow: hidden;
  border-radius: 12px;
  z-index: 2;
  background-color: rgba(61, 3, 1, 0.705);
}

.prjgradient .projects .projectCard:hover .image {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
  -webkit-transition: opacity 0.7s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.7s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.7s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 0;
}

.prjgradient .projects .projectCard:hover .desc {
  opacity: 1;
}

.prjgradient .projects .projectCard:hover .btnwrap {
  opacity: 1;
}

.prjgradient .projects .projectCard .image {
  -webkit-transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1), transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1), transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 3;
  font-size: 22px;
  font-family: "Barlow-r";
}

.prjgradient .projects .projectCard .image#game {
  background-image: url(./images/Game.png);
}

.prjgradient .projects .projectCard .image#recipes {
  background-image: url(./images/Recipe.png);
}

.prjgradient .projects .projectCard .image#label {
  background-image: url(./images/Label.png);
}

.prjgradient .projects .projectCard .image#portfolio {
  background-image: url(./images/portfolio.png);
}

.prjgradient .projects .projectCard .desc {
  -webkit-transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 0;
  position: absolute;
  top: 14%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 80%;
  color: white;
  text-align: center;
  z-index: 4;
}

.prjgradient .projects .projectCard .desc .highlight {
  color: #fdf912;
}

.prjgradient .projects .projectCard .btnwrap {
  -webkit-transition: opacity 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  top: 73%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 4;
}

.prjgradient .projects .projectCard .btnwrap .project-button {
  display: -ms-grid;
  display: grid;
  z-index: 4;
  width: 30%;
  padding-top: 1.6%;
  padding-bottom: 2%;
  color: white;
  text-decoration: none;
  text-align: center;
  border: 2.2px solid #fd3d3d;
  border-radius: 25px;
}

.prjgradient .projects .projectCard .btnwrap .project-button:hover {
  background-color: #fd3d3d;
}

#labelCreatorWrap {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #444444;
}

#labelCreatorWrap .IframeWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.gradient {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(74deg, rgba(246, 246, 246, 0.03) 0%, rgba(246, 246, 246, 0.03) 4%, rgba(152, 152, 152, 0.03) 4%, rgba(152, 152, 152, 0.03) 32%, rgba(123, 123, 123, 0.03) 32%, rgba(123, 123, 123, 0.03) 41%, rgba(189, 189, 189, 0.03) 41%, rgba(189, 189, 189, 0.03) 45%, rgba(151, 151, 151, 0.03) 45%, rgba(151, 151, 151, 0.03) 47%, rgba(61, 61, 61, 0.03) 47%, rgba(61, 61, 61, 0.03) 77%, rgba(34, 34, 34, 0.03) 77%, rgba(34, 34, 34, 0.03) 100%), linear-gradient(117deg, rgba(222, 222, 222, 0.03) 0%, rgba(222, 222, 222, 0.03) 7%, rgba(67, 67, 67, 0.03) 7%, rgba(67, 67, 67, 0.03) 18%, rgba(61, 61, 61, 0.03) 18%, rgba(61, 61, 61, 0.03) 26%, rgba(32, 32, 32, 0.03) 26%, rgba(32, 32, 32, 0.03) 52%, rgba(119, 119, 119, 0.03) 52%, rgba(119, 119, 119, 0.03) 60%, rgba(252, 252, 252, 0.03) 60%, rgba(252, 252, 252, 0.03) 68%, rgba(9, 9, 9, 0.03) 68%, rgba(9, 9, 9, 0.03) 100%), linear-gradient(313deg, rgba(193, 193, 193, 0.03) 0%, rgba(193, 193, 193, 0.03) 12%, rgba(184, 184, 184, 0.03) 12%, rgba(184, 184, 184, 0.03) 24%, rgba(194, 194, 194, 0.03) 24%, rgba(194, 194, 194, 0.03) 43%, rgba(128, 128, 128, 0.03) 43%, rgba(128, 128, 128, 0.03) 54%, rgba(87, 87, 87, 0.03) 54%, rgba(87, 87, 87, 0.03) 71%, rgba(169, 169, 169, 0.03) 71%, rgba(169, 169, 169, 0.03) 93%, rgba(83, 83, 83, 0.03) 93%, rgba(83, 83, 83, 0.03) 100%), linear-gradient(19deg, rgba(186, 186, 186, 0.03) 0%, rgba(186, 186, 186, 0.03) 9%, rgba(77, 77, 77, 0.03) 9%, rgba(77, 77, 77, 0.03) 19%, rgba(38, 38, 38, 0.03) 19%, rgba(38, 38, 38, 0.03) 27%, rgba(203, 203, 203, 0.03) 27%, rgba(203, 203, 203, 0.03) 39%, rgba(130, 130, 130, 0.03) 39%, rgba(130, 130, 130, 0.03) 43%, rgba(184, 184, 184, 0.03) 43%, rgba(184, 184, 184, 0.03) 81%, rgba(108, 108, 108, 0.03) 81%, rgba(108, 108, 108, 0.03) 100%), linear-gradient(90deg, #381d99, rgba(1, 57, 109, 0.281));
}

.gradient .hi {
  position: relative;
  top: 20px;
  left: 40px;
  font-size: 140px;
  width: 800px;
  line-height: 130px;
  letter-spacing: 0px;
  color: white;
}

.gradient h3 {
  position: absolute;
  top: 534px;
  left: 48px;
  font-size: 48px;
  width: 800px;
  letter-spacing: 1px;
  color: white;
}

.gradient .sub {
  top: 290px;
  left: 48px;
  font-size: 56px;
  color: #8b8b8b;
}

.gradient .technologies {
  position: absolute;
  top: 610px;
  left: 48px;
  font-size: 30px;
  width: 600px;
  letter-spacing: 1px;
  color: white;
}

.gradient #btn {
  position: absolute;
  top: 100%;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  width: 240px;
  text-align: center;
  line-height: 74px;
  font-size: 34px;
  letter-spacing: 1px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  border: solid 2px white;
  border-bottom: none;
}

@font-face {
  font-family: "Barlow-l";
  src: local("Barlow-ExtraLight"), url(./fonts/Barlow-ExtraLight.ttf) format("truetype");
}

@font-face {
  font-family: "Barlow-r";
  src: local("Barlow-Regular"), url(./fonts/Barlow-Regular.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#scroll-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  height: 300vh;
}

#scroll-wrap .background {
  background-image: url("./images/BlackHero.jpg");
  overflow: hidden;
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Barlow-l";
}

#scroll-wrap #btn {
  position: absolute;
  top: 100%;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  width: 240px;
  text-align: center;
  line-height: 74px;
  font-size: 34px;
  letter-spacing: 1px;
  color: white;
  padding-right: 20px;
  border: solid 2px white;
  border-bottom: none;
  z-index: 100;
  cursor: pointer;
}

#scroll-wrap #slide-one {
  position: absolute;
  width: 100%;
}

#scroll-wrap #slide-one #btn.prjects {
  left: 48px;
  padding-left: 14px;
}

#scroll-wrap #slide-one #btn.contact {
  left: 490px;
  width: 280px;
  padding-left: 0;
  padding-right: 30px;
}

#scroll-wrap #slide-one #btn svg {
  position: relative;
  top: -2px;
  left: 10px;
  margin-right: 10px;
  fill: white;
}

#scroll-wrap #slide-one #btn .top {
  position: absolute;
  top: 28px;
  left: 220px;
}

#scroll-wrap #slide-one #btn .bot {
  position: absolute;
  top: 42px;
  left: 220px;
}

#scroll-wrap #slide-two {
  position: absolute;
  top: 100vh;
  width: 100%;
}

#scroll-wrap #slide-two #btn.home {
  width: 208px;
  left: 48px;
  padding-right: 30px;
}

#scroll-wrap #slide-two #btn.contact {
  left: 470px;
  width: 280px;
  padding-right: 60px;
}

#scroll-wrap #slide-two #btn svg {
  position: relative;
  top: -2px;
  left: 218px;
  margin-right: 10px;
  fill: white;
}

#scroll-wrap #slide-two #btn .up {
  position: absolute;
  top: 35px;
  left: 140px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#scroll-wrap #slide-three {
  position: relative;
  height: 100vh;
  overflow-y: auto;
  width: 100%;
}
/*# sourceMappingURL=App.css.map */