.project-gradient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: linear-gradient(131deg, rgba(186, 186, 186, 0.01) 0%, rgba(186, 186, 186, 0.01) 16.667%, rgba(192, 192, 192, 0.01) 16.667%, rgba(192, 192, 192, 0.01) 33.334%, rgba(48, 48, 48, 0.01) 33.334%, rgba(48, 48, 48, 0.01) 50.001%, rgba(33, 33, 33, 0.01) 50.001%, rgba(33, 33, 33, 0.01) 66.668%, rgba(182, 182, 182, 0.01) 66.668%, rgba(182, 182, 182, 0.01) 83.335%, rgba(211, 211, 211, 0.01) 83.335%, rgba(211, 211, 211, 0.01) 100.002%), linear-gradient(148deg, rgba(48, 48, 48, 0.01) 0%, rgba(48, 48, 48, 0.01) 16.667%, rgba(178, 178, 178, 0.01) 16.667%, rgba(178, 178, 178, 0.01) 33.334%, rgba(192, 192, 192, 0.01) 33.334%, rgba(192, 192, 192, 0.01) 50.001%, rgba(237, 237, 237, 0.01) 50.001%, rgba(237, 237, 237, 0.01) 66.668%, rgba(194, 194, 194, 0.01) 66.668%, rgba(194, 194, 194, 0.01) 83.335%, rgba(227, 227, 227, 0.01) 83.335%, rgba(227, 227, 227, 0.01) 100.002%), linear-gradient(138deg, rgba(146, 146, 146, 0.03) 0%, rgba(146, 146, 146, 0.03) 25%, rgba(33, 33, 33, 0.03) 25%, rgba(33, 33, 33, 0.03) 50%, rgba(46, 46, 46, 0.03) 50%, rgba(46, 46, 46, 0.03) 75%, rgba(172, 172, 172, 0.03) 75%, rgba(172, 172, 172, 0.03) 100%), linear-gradient(38deg, rgba(3, 3, 3, 0.03) 0%, rgba(3, 3, 3, 0.03) 16.667%, rgba(28, 28, 28, 0.03) 16.667%, rgba(28, 28, 28, 0.03) 33.334%, rgba(236, 236, 236, 0.03) 33.334%, rgba(236, 236, 236, 0.03) 50.001%, rgba(3, 3, 3, 0.03) 50.001%, rgba(3, 3, 3, 0.03) 66.668%, rgba(207, 207, 207, 0.03) 66.668%, rgba(207, 207, 207, 0.03) 83.335%, rgba(183, 183, 183, 0.03) 83.335%, rgba(183, 183, 183, 0.03) 100.002%), linear-gradient(145deg, rgba(20, 20, 20, 0.02) 0%, rgba(20, 20, 20, 0.02) 20%, rgba(4, 4, 4, 0.02) 20%, rgba(4, 4, 4, 0.02) 40%, rgba(194, 194, 194, 0.02) 40%, rgba(194, 194, 194, 0.02) 60%, rgba(34, 34, 34, 0.02) 60%, rgba(34, 34, 34, 0.02) 80%, rgba(71, 71, 71, 0.02) 80%, rgba(71, 71, 71, 0.02) 100%), linear-gradient(78deg, rgba(190, 190, 190, 0.02) 0%, rgba(190, 190, 190, 0.02) 20%, rgba(95, 95, 95, 0.02) 20%, rgba(95, 95, 95, 0.02) 40%, rgba(71, 71, 71, 0.02) 40%, rgba(71, 71, 71, 0.02) 60%, rgba(7, 7, 7, 0.02) 60%, rgba(7, 7, 7, 0.02) 80%, rgba(130, 130, 130, 0.02) 80%, rgba(130, 130, 130, 0.02) 100%), linear-gradient(293deg, rgba(213, 213, 213, 0.03) 0%, rgba(213, 213, 213, 0.03) 20%, rgba(220, 220, 220, 0.03) 20%, rgba(220, 220, 220, 0.03) 40%, rgba(146, 146, 146, 0.03) 40%, rgba(146, 146, 146, 0.03) 60%, rgba(57, 57, 57, 0.03) 60%, rgba(57, 57, 57, 0.03) 80%, rgba(120, 120, 120, 0.03) 80%, rgba(120, 120, 120, 0.03) 100%), linear-gradient(90deg, #530000, rgba(255, 115, 0, 0.247));
}

.project-gradient .projects {
  font-family: "Barlow-r";
  display: -ms-grid;
  display: grid;
  position: relative;
  margin: auto;
  width: calc(70% + (1920px - 100%));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 22px;
  padding-top: 90px;
  font-size: 22px;
}

.project-gradient .projects .arrow-left {
  position: absolute;
  height: 20px;
  width: 40px;
  background-color: green;
  z-index: 5000;
}

.project-gradient .projects .arrow-right {
  left: 500px;
  position: absolute;
  height: 20px;
  width: 40px;
  background-color: orange;
  z-index: 5000;
}

.project-gradient .projects .projectCard {
  position: relative;
  display: block;
  height: 0;
  padding-top: 56.25%;
  overflow: hidden;
  border-radius: 12px;
  z-index: 2;
  background-color: rgba(61, 3, 1, 0.705);
}

.project-gradient .projects .projectCard:hover .image {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
  -webkit-transition: opacity 0.7s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.7s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.7s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 0;
}

.project-gradient .projects .projectCard:hover .desc {
  -webkit-transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 1;
}

.project-gradient .projects .projectCard:hover .btnwrap {
  opacity: 1;
  display: f;
}

.project-gradient .projects .projectCard .image {
  -webkit-transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1), transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1), transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 3;
  font-size: 22px;
  font-family: "Barlow-r";
}

.project-gradient .projects .projectCard .image#game {
  background-image: url(./images/Game.png);
}

.project-gradient .projects .projectCard .image#recipes {
  background-image: url(./images/Recipe.png);
}

.project-gradient .projects .projectCard .image#label {
  background-image: url(./images/Label.png);
}

.project-gradient .projects .projectCard .image#portfolio {
  background-image: url(./images/portfolio.png);
}

.project-gradient .projects .projectCard .desc {
  opacity: 0;
  position: absolute;
  top: 14%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 80%;
  color: white;
  text-align: center;
  z-index: 4;
}

.project-gradient .projects .projectCard .desc .highlight {
  color: #fdf912;
}

.project-gradient .projects .projectCard .btnwrap {
  -webkit-transition: opacity 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  top: 73%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 4;
}

.project-gradient .projects .projectCard .btnwrap .project-button {
  display: -ms-grid;
  display: grid;
  z-index: 4;
  width: 30%;
  padding-top: 1.5%;
  padding-bottom: 1.9%;
  color: white;
  text-decoration: none;
  text-align: center;
  border: 2.2px solid #fd3d3d;
  border-radius: 25px;
  cursor: pointer;
}

.project-gradient .projects .projectCard .btnwrap .project-button:hover {
  background-color: #fd3d3d;
}

.project-gradient #btn {
  position: absolute;
  left: 48px;
  top: 100%;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  text-align: center;
  line-height: 74px;
  font-size: 34px;
  letter-spacing: 1px;
  color: white;
  padding-left: 34px;
  padding-right: 64px;
  border: solid 2px white;
  border-bottom: none;
  z-index: 100;
  cursor: pointer;
}

.project-gradient #btn.contact {
  left: 490px;
}

.project-gradient #btn svg {
  position: absolute;
  top: 36px;
  fill: white;
  right: 24px;
  margin-right: 10px;
}

.project-gradient #btn:hover {
  font-weight: 700;
  color: #000;
  background-color: rgba(255, 255, 255, 0.486);
  mix-blend-mode: screen;
}

.project-gradient #btn:hover svg {
  fill: #2b0000;
}

.project-gradient #btn .arrow-up {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 34px;
}

@media (max-width: 1600px) {
  .project-gradient .headline {
    top: 0px;
    font-size: 110px;
  }
  .project-gradient .projects {
    padding-top: 64px;
    width: 80%;
  }
  .project-gradient #btn {
    line-height: 54px;
    font-size: 24px;
  }
  .project-gradient #btn.contact {
    left: 420px;
    white-space: nowrap;
  }
  .project-gradient #btn svg {
    position: absolute;
    top: 24px;
    fill: white;
    right: 24px;
    margin-right: 10px;
  }
  .project-gradient #btn .arrow-up {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    top: 24px;
  }
  .project-gradient .projects {
    font-size: 20px;
  }
  .project-gradient .projects .projectCard .desc {
    font-size: 18px;
    top: 10%;
    width: 84%;
  }
  .project-gradient .projects .projectCard .btnwrap {
    font-size: 18px;
    top: 72%;
  }
  .project-gradient .projects .projectCard .btnwrap .project-button {
    padding-top: 1.3%;
    padding-bottom: 1.7%;
    border: 1.8px solid #fd3d3d;
    border-radius: 25px;
    cursor: pointer;
  }
}

@media (max-width: 1250px) {
  .project-gradient .projects {
    position: relative;
    right: 0;
    width: 96%;
    grid-gap: 15px;
    -ms-grid-columns: (42%)[6];
        grid-template-columns: repeat(6, 42%);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    overflow-x: scroll;
    -ms-scroll-snap-type: x proximity;
        scroll-snap-type: x proximity;
  }
  .project-gradient .projects .projectCard {
    left: 191%;
  }
  .project-gradient .projects .projectCard .projectCard:active .btnwrap .project-button {
    display: -ms-grid;
    display: grid;
  }
  .project-gradient .projects .projectCard .projectCard .project-button {
    display: none;
  }
}

@media (max-width: 960px) {
  .project-gradient .projects {
    -ms-grid-columns: (62%)[6];
        grid-template-columns: repeat(6, 62%);
  }
  .project-gradient .projects .projectCard {
    left: 228%;
  }
}

@media (max-width: 830px) {
  .project-gradient .headline {
    left: 20px;
  }
  .project-gradient #btn {
    left: 20px;
  }
  .project-gradient #btn.contact {
    left: calc(100% - 20px);
    -webkit-transform: translate(-100%, -100%);
            transform: translate(-100%, -100%);
    white-space: nowrap;
  }
}

@media (max-width: 670px) {
  .project-gradient .projects {
    -ms-grid-columns: (82%)[6];
        grid-template-columns: repeat(6, 82%);
  }
  .project-gradient .projects .projectCard {
    left: 248%;
  }
}

@media (max-width: 600px) {
  .project-gradient #btn {
    font-size: 20px;
  }
}

@media (max-width: 530px) {
  .project-gradient .headline {
    top: -4px;
    font-size: 100px;
  }
  .project-gradient #btn {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .project-gradient .projects {
    font-size: 18px;
  }
}

@media (max-width: 460px) {
  .project-gradient #btn {
    font-size: 20px;
    padding-left: 34px;
    padding-right: 34px;
    line-height: 40px;
  }
  .project-gradient #btn.contact {
    left: calc(100% - 20px);
    -webkit-transform: translate(-100%, -100%);
            transform: translate(-100%, -100%);
    white-space: nowrap;
  }
  .project-gradient #btn svg {
    display: none;
  }
}

@media (max-width: 420px) {
  .project-gradient .headline {
    font-size: 80px;
  }
  .project-gradient .projects {
    font-size: 16px;
    -ms-grid-columns: (88%)[6] !important;
        grid-template-columns: repeat(6, 88%) !important;
  }
  .project-gradient .projects .projectCard {
    left: 256% !important;
  }
  .project-gradient .projects .projectCard .desc {
    font-size: 16px;
  }
  .project-gradient #btn {
    font-size: 18px;
    padding-left: 18px;
    padding-right: 18px;
    line-height: 38px;
  }
}
/*# sourceMappingURL=Projects.css.map */